@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;700;800&display=swap");
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #d87d4a;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #303030;
  --bs-gray-dark: #000000;
  --bs-primary: #0d6efd;
  --bs-secondary: #ff0b0b;
  --bs-success: #198754;
  --bs-info: #959595;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f1f1f1;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

.item {
  border-radius: 0.5rem;
  background: #f1f1f1;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1110px;
  }
}
@media (max-width: 575px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.black {
  color: black;
}

button {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.08rem;
  font-size: 0.9rem;
  padding: 12px 32px;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.btn-orange {
  background: #d87d4a;
  color: white;
}
.btn-orange:hover {
  background: #e19b74;
}

.btn-black {
  background: #181818;
  color: white;
}
.btn-black:hover {
  background: #4b4b4b;
  color: white;
}

.btn-outline {
  border: 1px solid #181818;
  background: transparent;
  color: #181818;
}
.btn-outline:hover {
  background: #181818;
  color: white;
}

p {
  line-height: 1.8;
}

html {
  font-size: 15px;
  font-weight: 300;
}

h1 {
  font-size: 3.8rem;
  letter-spacing: 0.0806rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.125rem;
  letter-spacing: 0.0806rem;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }
}
.nav-link {
  color: white;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}
.nav-link:hover {
  color: #d87d4a;
}

.uppercase {
  text-transform: uppercase;
}

.spaced-text {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.625rem;
}

.gap-text {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.08rem;
}

.text-content h1,
.text-content h2,
.text-content h3 {
  margin-bottom: 1.5rem;
}

.text-btn-content h1,
.text-btn-content h2,
.text-btn-content h3 {
  margin-bottom: 1.5rem;
}
.text-btn-content p {
  margin-bottom: 2.5rem;
}

.span-text-btn-content span {
  margin-bottom: 1rem;
  display: block;
}
.span-text-btn-content h1,
.span-text-btn-content h2,
.span-text-btn-content h3 {
  margin-bottom: 1.5rem;
}
.span-text-btn-content p {
  margin-bottom: 2.5rem;
}

.btn-content p,
.btn-content h1,
.btn-content h2,
.btn-content h3 {
  margin-bottom: 2.5rem;
}

.home-body header {
  background-color: #181818;
  background-image: url("../assets/img/image-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: 50% -50%;
  height: 500px;
}
@media (min-width: 480px) {
  .home-body header {
    height: 600px;
    background-size: cover;
    background-position: 50% -70px;
  }
}
@media (min-width: 992px) {
  .home-body header {
    background-image: url("../assets/img/image-hero.jpg");
    background-size: contain;
    background-position: 50% -55px;
  }
}
.home-body .product-grid {
  margin-top: 150px;
  display: grid;
  width: 100%;
  grid-gap: 20px;
  grid-template-areas: "box-1" "box-2" "box-3" "box-4";
}
.home-body .product-grid .box-1 {
  grid-area: box-1;
  background: #d87d4a;
  height: 622px;
}
.home-body .product-grid .box-2 {
  grid-area: box-2;
  height: 421px;
  background-image: url(/assets/img/speaker-zx7.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home-body .product-grid .box-3 {
  grid-area: box-3;
  background-image: url(/assets/img/earphones-yx1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 320px;
}
.home-body .product-grid .box-4 {
  grid-area: box-4;
  height: 200px;
}
@media (min-width: 480px) {
  .home-body .product-grid {
    grid-gap: 30px;
  }
  .home-body .product-grid .box-1 {
    height: 670px;
  }
}
@media (min-width: 992px) {
  .home-body .product-grid {
    grid-gap: 50px;
    grid-template-areas: "box-1 box-1" "box-2 box-2" "box-3 box-4";
  }
  .home-body .product-grid .box-1 {
    height: 593px;
  }
  .home-body .product-grid .box-2 {
    height: 320px;
  }
  .home-body .product-grid .box-4 {
    height: 320px;
  }
}

.home-body header .text-btn-content {
  max-width: 400px;
  padding-top: 130px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.home-body header .text-btn-content span {
  display: block;
  color: rgba(255, 255, 255, 0.528);
  font-size: 0.9;
  margin-bottom: 15px;
}
.home-body header .text-btn-content h1 {
  color: white;
}
.home-body header .text-btn-content p {
  margin-left: auto;
  margin-right: auto;
  color: rgba(255, 255, 255, 0.528);
  font-weight: 300;
  max-width: 330px;
}
@media (max-width: 480px) {
  .home-body header .text-btn-content {
    padding-top: 90px;
  }
}
@media (min-width: 992px) {
  .home-body header {
    position: relative;
  }
  .home-body header .text-btn-content {
    position: absolute;
    bottom: 100px;
    text-align: left;
  }
  .home-body header .text-btn-content p {
    margin-left: 0;
  }
  .home-body header .text-btn-content span {
    display: block;
    color: rgba(255, 255, 255, 0.528);
    font-size: 0.9;
    margin-bottom: 15px;
  }
}
.home-body .product-grid .box-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
  flex-direction: column-reverse;
  padding: 60px 0;
}
.home-body .product-grid .box-1 .item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 85%;
  height: 100%;
}
.home-body .product-grid .box-1 .item-content .text-btn-content {
  text-align: center;
  color: #f1f1f1;
}
.home-body .product-grid .box-1 .item-content .text-btn-content p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.515);
  padding-bottom: 1rem;
  max-width: 365px;
}
.home-body .product-grid .box-1 .item-content img {
  width: 170px;
  padding-bottom: 20px;
}
@media (min-width: 992px) {
  .home-body .product-grid .box-1 {
    justify-content: flex-end;
    padding-bottom: 0px;
    overflow: hidden;
  }
  .home-body .product-grid .box-1 .item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    justify-content: space-around;
  }
  .home-body .product-grid .box-1 .item-content .text-btn-content {
    text-align: left;
    padding-left: 50px;
    align-self: flex-start;
    margin-top: 70px;
  }
  .home-body .product-grid .box-1 .item-content .text-btn-content p {
    max-width: 350px;
    padding-bottom: 0rem;
  }
  .home-body .product-grid .box-1 .item-content img {
    width: 420px;
    padding: 0;
    transform: translateY(40px);
  }
}
.home-body .product-grid .box-2,
.home-body .product-grid .box-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}
@media (min-width: 480px) {
  .home-body .product-grid .box-2,
.home-body .product-grid .box-4 {
    padding-left: 4rem;
  }
}
@media (min-width: 992px) {
  .home-body .product-grid .box-2,
.home-body .product-grid .box-4 {
    padding-left: 6rem;
  }
}

.headphones-body header,
.speakers-body header,
.earphones-body header,
.see-product-body header {
  height: 100px;
  background: #181818;
}
@media (min-width: 480px) {
  .headphones-body header,
.speakers-body header,
.earphones-body header,
.see-product-body header {
    height: 255px;
  }
}
.headphones-body .product,
.speakers-body .product,
.earphones-body .product,
.see-product-body .product {
  margin-top: 64px;
  margin-bottom: -80px;
  height: 700px;
}
.headphones-body .product .img,
.speakers-body .product .img,
.earphones-body .product .img,
.see-product-body .product .img {
  width: 100%;
}
.headphones-body .product .img::after,
.speakers-body .product .img::after,
.earphones-body .product .img::after,
.see-product-body .product .img::after {
  content: "";
  display: block;
  padding-bottom: 51%;
  background: #f1f1f1;
  border-radius: 0.5rem;
}
@media (min-width: 480px) {
  .headphones-body .product,
.speakers-body .product,
.earphones-body .product,
.see-product-body .product {
    margin-bottom: 0px;
  }
}
@media (min-width: 992px) {
  .headphones-body .product,
.speakers-body .product,
.earphones-body .product,
.see-product-body .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    height: auto;
    margin-bottom: 120px;
  }
  .headphones-body .product .img,
.speakers-body .product .img,
.earphones-body .product .img,
.see-product-body .product .img {
    width: 50%;
  }
  .headphones-body .product .img::after,
.speakers-body .product .img::after,
.earphones-body .product .img::after,
.see-product-body .product .img::after {
    padding-bottom: 100%;
  }
}

.headphones-body header,
.speakers-body header,
.earphones-body header,
.see-product-body header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.headphones-body header h1,
.speakers-body header h1,
.earphones-body header h1,
.see-product-body header h1 {
  font-size: 2rem;
}
@media (min-width: 480px) {
  .headphones-body header h1,
.speakers-body header h1,
.earphones-body header h1,
.see-product-body header h1 {
    font-size: 2.6rem;
  }
}
.headphones-body .product,
.speakers-body .product,
.earphones-body .product,
.see-product-body .product {
  text-align: center;
}
.headphones-body .product .span-text-btn-content,
.speakers-body .product .span-text-btn-content,
.earphones-body .product .span-text-btn-content,
.see-product-body .product .span-text-btn-content {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  margin-top: 2rem;
}
@media (min-width: 992px) {
  .headphones-body .product,
.speakers-body .product,
.earphones-body .product,
.see-product-body .product {
    text-align: left;
  }
  .headphones-body .product .span-text-btn-content,
.speakers-body .product .span-text-btn-content,
.earphones-body .product .span-text-btn-content,
.see-product-body .product .span-text-btn-content {
    margin: 0;
    width: 443px;
    padding-left: 20px;
    align-self: center;
  }
  .headphones-body .product .span-text-btn-content span,
.speakers-body .product .span-text-btn-content span,
.earphones-body .product .span-text-btn-content span,
.see-product-body .product .span-text-btn-content span {
    color: #d87d4a;
    font-weight: 300;
  }
  .headphones-body .product .span-text-btn-content p,
.speakers-body .product .span-text-btn-content p,
.earphones-body .product .span-text-btn-content p,
.see-product-body .product .span-text-btn-content p {
    font-weight: 300;
    color: rgb(146, 146, 146);
  }
}
.headphones-body .hp2,
.speakers-body .hp2,
.earphones-body .hp2,
.see-product-body .hp2 {
  flex-direction: row-reverse;
}

.see-product-body .product {
  margin-top: 56px;
}
.see-product-body .product .span-text-btn-content p {
  margin-bottom: 32px;
}
.see-product-body .product .span-text-btn-content strong {
  margin-bottom: 32px;
  font-size: 1.2rem;
  font-weight: 600;
}
.see-product-body .product .span-text-btn-content .btn-group .quantity {
  width: 120px;
  height: 44.25px;
  background: #f1f1f1;
  margin-right: 1rem;
}
@media (max-width: 315px) {
  .see-product-body .product .span-text-btn-content .btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .see-product-body .product .span-text-btn-content .btn-group .quantity,
.see-product-body .product .span-text-btn-content .btn-group button {
    width: 100%;
  }
  .see-product-body .product .span-text-btn-content .btn-group .quantity {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .see-product-body .product .img {
    width: 45%;
  }
  .see-product-body .product .img::after {
    padding-bottom: 100%;
  }
  .see-product-body .product .span-text-btn-content {
    width: 480px;
    padding-left: 0px;
    align-self: center;
  }
  .see-product-body .product .span-text-btn-content h1 {
    font-size: 3rem;
  }
}
.see-product-body .go-back {
  display: inline-block;
  margin-top: 80px;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  color: rgb(130, 130, 130);
  font-weight: 300;
}
.see-product-body .go-back:hover {
  text-decoration: underline;
  cursor: pointer;
}

.product-info {
  margin-top: 80px;
  font-weight: 300;
  color: #303030;
}
.product-info .features {
  margin-bottom: 100px;
}
.product-info .features h2 {
  font-weight: bold;
}
.product-info .features p:last-child {
  margin-top: 30px;
}
.product-info .in-the-box h2 {
  margin-bottom: 30px;
  font-weight: bold;
}
.product-info .in-the-box ul li {
  margin-bottom: 10px;
}
.product-info .in-the-box ul li span {
  font-weight: bold;
  color: #d87d4a;
  margin-right: 15px;
}
@media (min-width: 480px) {
  .product-info .in-the-box {
    display: flex;
  }
  .product-info .in-the-box ul {
    margin-left: 25%;
  }
}
@media (min-width: 992px) {
  .product-info {
    display: flex;
  }
  .product-info .features {
    max-width: 57%;
  }
  .product-info .in-the-box {
    display: block;
    margin-left: 15%;
  }
  .product-info .in-the-box ul {
    margin-left: 0;
  }
}
@media (max-width: 315px) {
  .product-info {
    margin-top: 200px;
  }
}

*,
ul,
a,
p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
  background: #fafafa;
}

i {
  font-size: 25px;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

nav {
  background: #181818;
  width: 100%;
}
nav .nav-bar {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 89px;
  border-bottom: 1px solid #303030;
}
nav .nav-bar div,
nav .nav-bar ul {
  display: flex;
  align-items: center;
  align-items: center;
}
nav .nav-bar ul {
  display: none;
  padding-right: 40px;
}
nav .nav-bar ul a {
  padding: 20px;
}
nav .nav-bar .logo {
  padding-left: 15vw;
}
@media (min-width: 480px) {
  nav .nav-bar .logo {
    padding-left: 30px;
  }
}
@media (min-width: 992px) {
  nav .nav-bar .logo {
    padding-left: 0;
  }
  nav .nav-bar #menu-btn {
    display: none;
  }
  nav .nav-bar ul {
    display: flex;
  }
}

footer {
  margin-top: 200px;
  padding-top: 50px;
  min-height: 344px;
  background: #181818;
}
footer .NAV,
footer .NAV ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
footer .NAV ul {
  margin-top: 40px;
}
footer .NAV ul a {
  padding: 10px;
  font-weight: 0.9rem;
}
@media (min-width: 480px) {
  footer .NAV {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
  }
  footer .NAV ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  footer .NAV ul a {
    padding: 0;
    margin-right: 20px;
  }
}
@media (min-width: 768px) {
  footer .NAV {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  footer .NAV ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 0;
  }
}
footer .grid {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  color: rgba(255, 255, 255, 0.528);
  font-weight: 300;
}
footer .grid div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
footer .grid div .social {
  flex-direction: row;
}
footer .grid div .social i {
  color: #f1f1f1;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}
footer .grid div .social a:hover i {
  color: #d87d4a;
}
footer .grid div .social a:nth-of-type(2) {
  padding-left: 12px;
  padding-right: 12px;
}
@media (min-width: 480px) {
  footer .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  footer .grid .box1 {
    grid-column: 1/span 2;
  }
  footer .grid div {
    text-align: left;
    justify-content: flex-end;
  }
}
@media (min-width: 992px) {
  footer .grid {
    height: 260px;
  }
  footer .grid .box1 {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }
  footer .grid .box2 {
    grid-column: 1/span 1;
    grid-row: 2/span 2;
  }
  footer .grid .box3 {
    grid-column: 2/span 3;
    grid-row: 1/span 3;
  }
  footer .grid .social-container {
    justify-content: center;
  }
  footer .grid .social-container i {
    font-size: 30px;
  }
}

.product-line .item {
  position: relative;
}
.product-line .item img {
  width: 138px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -50px;
}
.product-line .item .item-content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-transform: uppercase;
}
.product-line .item .item-content p {
  color: #181818;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  font-weight: 600;
  padding-bottom: 8px;
}
.product-line .item .item-content div {
  display: flex;
  align-items: center;
  position: relative;
}
.product-line .item .item-content div span {
  font-size: 0.85rem;
  font-weight: 600;
  color: rgb(91, 91, 91);
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}
.product-line .item .item-content div i {
  font-weight: normal;
  color: #d87d4a;
  position: absolute;
  right: -30px;
}
.product-line .item:hover {
  cursor: pointer;
}
.product-line .item:hover div span {
  color: #d87d4a;
}

.product-line {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
.product-line .item {
  height: 170px;
}
.product-line .item:nth-last-of-type(2) {
  margin: 60px 0;
}

@media (min-width: 480px) {
  .product-line {
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  .product-line .item:nth-last-of-type(2) {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .product-line {
    grid-gap: 35px;
  }
}
.about h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
.about h2 span {
  color: #d87d4a;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-direction: column-reverse;
  margin-top: 120px;
  width: 100%;
}
.about div {
  width: 100%;
}
.about .text-content {
  margin-top: 2.5rem;
  text-align: center;
}
.about .img {
  border-radius: 0.5rem;
  height: 320px;
  background: url(../assets/img/about-img.jpeg);
  background-size: cover;
  background-position: center;
}

@media (min-width: 480px) {
  .about .img {
    height: 200px;
  }
}
@media (min-width: 992px) {
  .about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 600px;
  }
  .about div {
    width: 50%;
  }
  .about .text-content {
    margin-top: 0;
    text-align: left;
  }
  .about .text-content h2 {
    margin-bottom: 2.5rem;
  }
  .about .img {
    height: 100%;
    margin-left: 50px;
  }
}

/*# sourceMappingURL=main.css.map */
