.headphones-body,
.speakers-body,
.earphones-body,
.see-product-body {
  header {
    @include flex-row;
    @include flex-y-center;
    color: white;
    h1 {
      font-size: 2rem;
    }
    @media (min-width: $tablet) {
      h1 {
        font-size: 2.6rem;
      }
    }
  }

  .product {
    text-align: center;
    h2 {
      max-width: 200px;
    }

    .span-text-btn-content {
      @include margin-center;
      width: 85%;
      margin-top: 2rem;
    }

    @media (min-width: $desktop) {
      text-align: left;
      .span-text-btn-content {
        span:first-child {
          color: $orange;
          font-weight: 300;
        }
        margin: 0;
        width: 443px;
        padding-left: 20px;
        align-self: center;
        p {
          font-weight: 300;
          color: rgb(146, 146, 146);
        }
      }
    }
  }
  .hp2 {
    flex-direction: row-reverse;
  }
}
