.headphones-body,
.speakers-body,
.earphones-body,
.see-product-body {
  // heading
  header {
    height: 100px;
    background: $dark;
  }
  @media (min-width: $tablet) {
    header {
      height: 255px;
    }
  }

  // products display
  .product {
    margin-top: 64px;
    margin-bottom: -80px;
    height: 700px;
    .img {
      width: 100%;
      &::after {
        content: "";
        display: block;
        padding-bottom: 51%;
        background: $light;
        border-radius: $bdrr;
      }
    }

    @media (min-width: $tablet) {
      margin-bottom: 0px;
    }

    @media (min-width: $desktop) {
      @include flex-row;
      align-items: flex-start;
      height: auto;
      margin-bottom: 120px;
      .img {
        width: 50%;
        &::after {
          padding-bottom: 100%;
        }
      }
    }
  }

  // product line | component
  // inserted

  // about | component
  // inserted
}
