.headphones-body,
.speakers-body,
.earphones-body,
.see-product-body {
  // heading
  header {
    height: 100px;
    background: $dark;
  }
  @media (min-width: $tablet) {
    header {
      height: 255px;
    }
  }

  // products display
  .product {
    margin-top: 64px;
    margin-bottom: 160px;
    img {
      width: 100%;
      margin-bottom: 40px;
    }

    @media (min-width: $desktop) {
      @include flex-row;
      align-items: flex-start;
      height: auto;
      margin-bottom: 120px;
      img {
        width: 50%;
        margin-bottom: 0;
      }
    }
  }

  // product line | component
  // inserted

  // about | component
  // inserted
}
