.see-product-body {
  .product {
    margin-top: 56px;
    @media (max-width: $tablet) {
      margin-bottom: 50px;
    }
    @media (min-width: $tablet) {
      margin-bottom: 100px;
    }
    @media (min-width: $desktop) {
      margin-bottom: 150px;
    }
    .span-text-btn-content {
      p {
        margin-bottom: 32px;
      }

      strong {
        margin-bottom: 32px;
        font-size: 1.2rem;
        font-weight: 600;
      }

      .btn-group {
        .quantity {
        }
        @media (max-width: 393px) {
          @include flex-col-center;
          .quantity,
          button {
            width: 100%;
          }

          .quantity {
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
      }
    }
    @media (min-width: $desktop) {
      .img {
        width: 45%;
        &::after {
          padding-bottom: 100%;
        }
      }
      .span-text-btn-content {
        h1 {
          font-size: 3rem;
          max-width: 239px;
        }
        margin-bottom: 0;
        width: 480px;
        padding-left: 0px;
        align-self: center;
      }
    }
  }

  .go-back {
    display: inline-block;
    margin-top: 80px;
    letter-spacing: 0.05rem;
    font-size: 1rem;
    color: $light;
    font-weight: 300;
    color: $gray;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  // product info

  .product-info {
    margin-top: 80px;
    font-weight: 300;
    color: $gray;

    .features {
      h2 {
        font-weight: bold;
      }
      p:last-child {
        margin-top: 30px;
      }
      margin-bottom: 100px;
    }

    .in-the-box {
      h2 {
        margin-bottom: 30px;
        font-weight: bold;
      }
      ul li {
        span {
          font-weight: bold;
          color: $orange;
          margin-right: 15px;
        }
        margin-bottom: 10px;
      }
    }

    @media (min-width: 480px) {
      .in-the-box {
        display: flex;
        ul {
          margin-left: 25%;
        }
      }
    }
    @media (min-width: $desktop) {
      display: flex;
      margin-bottom: 100px;
      .features {
        max-width: 57%;
        margin-bottom: 0;
      }
      .in-the-box {
        display: block;
        margin-left: 15%;
        ul {
          margin-left: 0;
        }
      }
    }
    @media (max-width: 315px) {
      margin-top: 200px;
    }
  }

  //product grid
  .product-gallery {
    margin-top: 150px;
    margin-bottom: 150px;
    @media (max-width: $tablet) {
      .grid {
        @include flex-col-center;
      }
      .box {
        background: $test;
        border-radius: $bdrr;
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
      }

      .box3 {
        height: 400px;
      }
    }

    @media (min-width: $tablet) {
      .grid {
        display: grid;
        height: 300px;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
      }
      .box {
        border-radius: $bdrr;
      }

      .box3 {
        grid-column: 2 / span 4;
        grid-row: 1 / span 2;
      }
    }
    @media (min-width: $desktop) {
      .grid {
        height: 600px;
      }
    }
  }

  .recomend {
    .title {
      text-align: center;
      margin-bottom: 3rem;
    }
    .flex-container {
      @include flex-col-center;
    }
    .recomended-product {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 400px;
      margin-bottom: 2rem;
    }

    .p-img {
      border-radius: $bdrr;
      width: 100%;
      height: 200px;
      background: $test;
      margin-bottom: 2rem;
    }

    @media (min-width: 760px) {
      .flex-container {
        @include flex-row;
      }

      .recomended-product {
        height: auto;
      }

      .p-img {
        width: 90%;
        height: 300px;
      }
    }
  }
}

// product - xx59
.headphone-grid-1 {
  .box {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .box1 {
    background-image: url("/imgs/product-xx59-headphones/desktop/image-gallery-1.jpg");
  }
  .box2 {
    background-image: url("/imgs/product-xx59-headphones/desktop/image-gallery-2.jpg");
  }
  .box3 {
    background-image: url("/imgs/product-xx59-headphones/desktop/image-gallery-3.jpg");
  }
}

// product xx99 mk1
.headphone-grid-2 {
  .box {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .box1 {
    background-image: url("/imgs/product-xx99-mark-one-headphones/desktop/image-gallery-1.jpg");
  }
  .box2 {
    background-image: url("/imgs/product-xx99-mark-one-headphones/desktop/image-gallery-2.jpg");
  }
  .box3 {
    background-image: url("/imgs/product-xx99-mark-one-headphones/desktop/image-gallery-3.jpg");
  }
}

// product xx99 mk2
.headphone-grid-3 {
  .box {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .box1 {
    background-image: url("/imgs/product-xx99-mark-two-headphones/desktop/image-gallery-1.jpg");
  }
  .box2 {
    background-image: url("/imgs/product-xx99-mark-two-headphones/desktop/image-gallery-2.jpg");
  }
  .box3 {
    background-image: url("/imgs/product-xx99-mark-two-headphones/desktop/image-gallery-3.jpg");
  }
}

// product zx7
.headphone-grid-4 {
  .box {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .box1 {
    background-image: url("/imgs/product-zx7-speaker/desktop/image-gallery-1.jpg");
  }
  .box2 {
    background-image: url("/imgs/product-zx7-speaker/desktop/image-gallery-2.jpg");
  }
  .box3 {
    background-image: url("/imgs/product-zx7-speaker/desktop/image-gallery-3.jpg");
  }
}

// product zx9
.headphone-grid-5 {
  .box {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .box1 {
    background-image: url("/imgs/product-zx9-speaker/desktop/image-gallery-1.jpg");
  }
  .box2 {
    background-image: url("/imgs/product-zx9-speaker/desktop/image-gallery-2.jpg");
  }
  .box3 {
    background-image: url("/imgs/product-zx9-speaker/desktop/image-gallery-3.jpg");
  }
}

// product earphones
.headphone-grid-6 {
  .box {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .box1 {
    background-image: url("/imgs/product-yx1-earphones/desktop/image-gallery-1.jpg");
  }
  .box2 {
    background-image: url("/imgs/product-yx1-earphones/desktop/image-gallery-2.jpg");
  }
  .box3 {
    background-image: url("/imgs/product-yx1-earphones/desktop/image-gallery-3.jpg");
  }
}
