// header

header {
  .text-btn-content {
    max-width: 400px;
    padding-top: 130px;
    @include margin-center;
    text-align: center;
    span {
      display: block;
      color: $dark-text;
      font-size: 0.9;
      margin-bottom: 15px;
    }

    h1 {
      color: $white-text;
    }
    p {
      @include margin-center;
      color: $dark-text;
      font-weight: 300;
      max-width: 330px;
    }
  }
}

@media (max-width: $tablet) {
  header {
    .text-btn-content {
      padding-top: 90px;
    }
  }
}

@media (min-width: $desktop) {
  header {
    position: relative;
    .text-btn-content {
      position: absolute;
      bottom: 100px;
      text-align: left;
      p {
        margin-left: 0;
      }
      span {
        display: block;
        color: $dark-text;
        font-size: 0.9;
        margin-bottom: 15px;
      }
    }
  }
}

// product line

.product-line {
  // .item p | div [ span i

  .item {
    position: relative;
    img {
      width: 138px;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      top: -50px;
    }
    .item-content {
      position: absolute;
      top: 50%;
      left: 50%;
      right: 50%;
      @include flex-col-center;
      text-transform: uppercase;

      p {
        color: $dark;
        font-size: 1.2rem;
        letter-spacing: 0.1em;
        font-weight: 600;
        padding-bottom: 8px;
      }

      div {
        @include flex-inline;
        position: relative;
        span {
          font-size: 0.85rem;
          font-weight: 600;
          color: rgb(91, 91, 91);
        }
        i {
          font-weight: normal;
          color: $orange;
          position: absolute;
          right: -30px;
        }
      }
    }
    &:hover {
      cursor: pointer;
    }
    &:hover div span {
      color: $orange;
    }
  }
}

// product grid

.product-grid {
  //
  // box1
  //

  .box-1 {
    @include flex-col-center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 60px 0;

    .item-content {
      @include flex-col-center;
      width: 85%;
      height: 100%;

      .text-btn-content {
        text-align: center;
        color: $light;

        p {
          font-weight: 300;
          color: rgba(255, 255, 255, 0.515);
          padding-bottom: 1rem;
          max-width: 365px;
        }
      }

      img {
        width: 170px;
        padding-bottom: 20px;
      }
    }
  }

  @media (min-width: $desktop) {
    .box-1 {
      justify-content: flex-end;
      padding-bottom: 0px;
      overflow: hidden;
      .item-content {
        @include flex-row;
        justify-content: space-around;

        .text-btn-content {
          text-align: left;
          padding-left: 50px;
          align-self: flex-start;
          margin-top: 70px;

          p {
            max-width: 350px;
            padding-bottom: 0rem;
          }
        }

        img {
          width: 420px;
          padding: 0;
          transform: translateY(40px);
        }
      }
    }
  }

  .box-2,
  .box-4 {
    @include flex-y-center;
    padding-left: 2rem;

    @media (min-width: $tablet) {
      padding-left: 4rem;
    }

    @media (min-width: $desktop) {
      padding-left: 6rem;
    }
  }
}

// about

.about {
  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    span {
      color: $orange;
    }
  }
}
