///// HOME

// nav

nav {
  background: $dark;
  width: 100%;
}

.nav-bar {
  @include margin-center;
  @include flex-row;
  height: 89px;
  border-bottom: 1px solid $gray;
}

.nav-bar div,
.nav-bar ul {
  @include flex-inline;
  align-items: center;
}

.nav-bar ul {
  display: none;
  padding-right: 40px;
  a {
    padding: 20px;
  }
}

// media

.nav-bar {
  .logo {
    padding-left: 15vw;
  }
}

@media (min-width: $tablet) {
  .nav-bar {
    .logo {
      padding-left: 30px;
    }
  }
}

@media (min-width: $desktop) {
  .nav-bar {
    .logo {
      padding-left: 0;
    }

    #menu-btn {
      display: none;
    }

    ul {
      display: flex;
    }
  }
}

// header

header {
  background-color: $dark;
  background-image: url("../assets/img/image-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: fit;
  background-position: 50% 100%;
  height: 500px;
}

// media

@media (min-width: $tablet) {
  header {
    height: 600px;
  }
}

@media (min-width: $desktop) {
  header {
    background-image: url("../assets/img/image-hero.jpg");
    background-position: 100% 100%;
  }
}

// product-line

.product-line {
  @include margin-center;
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr;

  grid-gap: 10px;

  .item {
    height: 170px;
  }

  .item:nth-last-of-type(2) {
    margin: 60px 0;
  }
}

@media (min-width: $tablet) {
  .product-line {
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    .item:nth-last-of-type(2) {
      margin: 0;
    }
  }
}

@media (min-width: $desktop) {
  .product-line {
    grid-gap: 35px;
  }
}

// product grid

.product-grid {
  margin-top: 150px;
  display: grid;
  width: 100%;
  // height: 1612px;

  // grid-template-columns: 1fr;
  // grid-template-rows: 3fr 2fr 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "box-1"
    "box-2"
    "box-3"
    "box-4";

  .box-1 {
    grid-area: box-1;
    background: $orange;
    height: 622px;
    // height: 593px;
  }
  .box-2 {
    grid-area: box-2;
    height: 421px;
    background-image: url(/assets/img/speaker-zx7.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .box-3 {
    grid-area: box-3;
    background-image: url(/assets/img/earphones-yx1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 320px;
  }
  .box-4 {
    grid-area: box-4;
    height: 200px;
  }
}

// media

@media (min-width: $tablet) {
  .product-grid {
    grid-gap: 30px;

    .box-1 {
      height: 670px;
    }
  }
}

@media (min-width: $desktop) {
  .product-grid {
    grid-gap: 50px;
    grid-template-areas:
      "box-1 box-1"
      "box-2 box-2"
      "box-3 box-4";

    .box-1 {
      height: 593px;
    }

    .box-2 {
      height: 320px;
    }

    .box-4 {
      height: 320px;
    }
  }
}

// about

.about {
  @include flex-col-center;
  flex-direction: column-reverse;
  margin-top: 120px;
  width: 100%;

  div {
    width: 100%;
  }

  .text-content {
    margin-top: 2.5rem;
    text-align: center;
  }

  .img {
    border-radius: $bdrr;
    height: 320px;
    background: url(../assets/img/about-img.jpeg);
    background-size: cover;
    background-position: center;
  }
}

// media

@media (min-width: $tablet) {
  .about .img {
    height: 200px;
  }
}

@media (min-width: $desktop) {
  .about {
    @include flex-row;
    height: 600px;

    div {
      width: 50%;
    }

    .text-content {
      margin-top: 0;
      text-align: left;
      h2 {
        margin-bottom: 2.5rem;
      }
    }

    .img {
      height: 100%;
      margin-left: 50px;
    }
  }
}
