///// HOME
.home-body {
  // header
  header {
    background-color: $dark;
    background-image: url("../imgs/home/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 500px;
  }
  // media
  @media (min-width: $tablet) {
    header {
      height: 600px;
      background-size: cover;
      background-position: 50% -70px;
    }
  }
  @media (min-width: $tablet) {
    header {
      background-image: url("../imgs/home/tablet/image-header.jpg");
      background-size: contain;
      background-position: 50% -55px;
    }
  }
  @media (min-width: $desktop) {
    header {
      background-image: url("../imgs/home/desktop/image-hero.jpg");
      background-size: contain;
      background-position: 50% -55px;
    }
  }

  // product-line | component
  // inserted

  // product grid
  .product-grid {
    margin-top: 150px;
    display: grid;
    width: 100%;
    // height: 1612px;

    // grid-template-columns: 1fr;
    // grid-template-rows: 3fr 2fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
      "box-1"
      "box-2"
      "box-3"
      "box-4";

    .box-1 {
      grid-area: box-1;
      background: $orange;
      height: 622px;
      // height: 593px;
    }
    .box-2 {
      grid-area: box-2;
      height: 421px;
      background-image: url("../imgs/home/desktop/image-speaker-zx7.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .box-3 {
      grid-area: box-3;
      background-image: url("../imgs/home/desktop/image-earphones-yx1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      height: 320px;
    }
    .box-4 {
      grid-area: box-4;
      height: 200px;
    }
  }
  // media
  @media (min-width: $tablet) {
    .product-grid {
      grid-gap: 30px;

      .box-1 {
        height: 670px;
      }
    }
  }

  @media (min-width: $desktop) {
    .product-grid {
      grid-gap: 50px;
      grid-template-areas:
        "box-1 box-1"
        "box-2 box-2"
        "box-3 box-4";

      .box-1 {
        height: 593px;
      }

      .box-2 {
        height: 320px;
      }

      .box-4 {
        height: 320px;
      }
    }
  }

  // about | component
  // inserted
}
