@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;800&display=swap");
// font-family: 'Manrope', sans-serif;

@mixin normal-text {
  font-size: 15px;
  font-weight: 300;
}

p {
  line-height: 1.8;
}

html {
  @include normal-text;
}

h1 {
  font-size: 3.8rem;
  letter-spacing: 0.0806rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.125rem;
  letter-spacing: 0.0806rem;
}

@media (max-width: $tablet) {
  h1 {
    font-size: 2.5rem;
  }
}

.nav-link {
  color: $white-text;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    color: $orange;
  }
}

.uppercase {
  text-transform: uppercase;
}

.spaced-text {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.625rem;
}
.gap-text {
  @include gap-text;
}

// text groups

.text-content {
  h1,
  h2,
  h3 {
    margin-bottom: 1.5rem;
  }
}

.text-btn-content {
  h1,
  h2,
  h3 {
    margin-bottom: 1.5rem;
  }

  p {
    margin-bottom: 2.5rem;
  }
}

.btn-content {
  p,
  h1,
  h2,
  h3 {
    margin-bottom: 2.5rem;
  }
}
