// main color
$bg: #fafafa;
$light: #f1f1f1;
$dark: #181818;
$gray: #303030;
$orange: #d87d4a;

// test color
$test: rgb(208, 208, 208);

// text exclusive
$white-text: white;
$dark-text: rgba(255, 255, 255, 0.528);

// border-radius
$bdrr: 0.5rem;

// transition

$trans1: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);

.item {
  border-radius: $bdrr;
  background: $light;
}

// breakpoints

$tablet: 480px;
$desktop: 992px;

@media (min-width: 1200px) {
  .container {
    max-width: 1110px;
  }
}

@media (max-width: 575px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

// color class

.black {
  color: black;
}

/// Flex Layout
// below just for DRY!
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// ^

@mixin flex-inline {
  display: flex;
  align-items: center;
}

@mixin flex-row {
  @include flex-center;
  flex-direction: row;
}

@mixin flex-col-center {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-col-left {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: column;
}

@mixin flex-y-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-col-bottom {
  @include flex-center;
  justify-content: flex-end;
  flex-direction: column;
}
// margin

@mixin margin-center {
  margin-left: auto;
  margin-right: auto;
}

// gap text

@mixin gap-text {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.08rem;
}

// buttons

button {
  @include gap-text;
  font-size: 0.9rem;
  padding: 12px 32px;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: $trans1;
}

.btn-orange {
  background: $orange;
  color: white;
  &:hover {
    background: lighten($color: $orange, $amount: 10);
  }
}

.btn-black {
  background: $dark;
  color: white;
  &:hover {
    background: lighten($color: $dark, $amount: 20);
    color: white;
  }
}

.btn-outline {
  border: 1px solid $dark;
  background: transparent;
  color: $dark;
  &:hover {
    background: $dark;
    color: white;
  }
}
