.checkout-body {
  .go-back {
    display: inline-block;
    margin-top: 80px;
    margin-bottom: 30px;
    letter-spacing: 0.05rem;
    font-size: 1rem;
    color: $gray;
    font-weight: 300;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .checkout-container {
    max-width: 830px;
    padding: 30px 28px 32px 28px;
    background: white;
    @media (min-width: $desktop) {
      padding: 58px 48px 48px 48px;
    }
  }

  .checkout-container {
    h2 {
      margin-bottom: 2rem;
      font-weight: 600;
      font-size: 28px;
    }

    fieldset {
      margin-bottom: 2rem;
    }

    legend {
      font-size: 0.9rem;
      color: $orange;
      text-transform: uppercase;
      letter-spacing: 0.08rem;
      margin-bottom: 1rem;
    }

    .field-grid {
      display: grid;
      row-gap: 1rem;
      column-gap: 1rem;
      grid-template-columns: 1fr;

      @media (min-width: $desktop) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
      }
    }

    label {
      margin-bottom: 0.5rem;
    }

    input {
      width: 100%;
      padding: 1rem;
      border: 1px solid rgb(189, 189, 189);
      border-radius: 5px;
      font-size: 0.9rem;
      font-weight: 600;

      &:focus {
        outline: none;
        border: 2px solid $orange;
      }
    }

    .address-field {
      @media (min-width: $desktop) {
        grid-column: 1 / span 2;
      }
    }
  }
}
